<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icbc.paysdk"
    android:versionCode="1"
    android:versionName="1.0" >

<!--    <uses-sdk-->
<!--        android:minSdkVersion="14"-->
<!--        android:targetSdkVersion="21" />-->
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.R"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/rose">
        <!--android:icon="@drawable/ic_launcher">-->


        <activity
            android:name="com.icbc.paysdk.webview.PayWebView"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:imeOptions="actionSend|flagNoEnterAction"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >            
        </activity>

        <!--支付宝支付-->

        <!--<activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"
            />-->

         <activity
             android:name=".PayModeListActivity"
             android:launchMode="singleTop"
             android:exported="false"/>
                
    </application>

</manifest>
